#!/bin/bash

set -e

# gpg-pubkeyring-hash: {{ include ".gnupg/pubring-backup.asc" | sha256sum }}
echo "Importing GPG public keys..."
gpg --import ~/.gnupg/pubring-backup.asc

# gpg-ownertrust-hash: {{ include ".gnupg/ownertrust-backup.txt" | sha256sum }}
echo "Importing GPG owner trust..."
gpg --import-ownertrust ~/.gnupg/ownertrust-backup.txt
