#!/bin/bash

set -e

# gpg-pubkeyring-backup-hash: {{ joinPath .chezmoi.sourceDir "private_dot_gnupg/pubring-backup.asc" | include | sha256sum }}
echo "Importing GPG public keys..."
gpg --import ~/.gnupg/pubring-backup.asc

# gpg-ownertrust-backup-hash: {{ joinPath .chezmoi.sourceDir "private_dot_gnupg/ownertrust-backup.txt" | include | sha256sum }}
echo "Importing GPG owner trust..."
gpg --import-ownertrust ~/.gnupg/ownertrust-backup.txt
