# vim: ft=gitconfig

[init]
    defaultBranch = main
[user]
    name = Chris Lis
    signingkey = 521F2340A0596487!
    email = {{ .git.email | quote }}
[commit]
    gpgsign = true
[tag]
    gpgSign = true
